@use 'variables';
@import 'font';

.card {
  width: 320px;
  height: 460px;
  border-radius: 25px;
  background-color: lighten(variables.$penn-blue, 5%);
  padding: 10px;
  display: grid;
  grid-template-rows: 50px 1fr 60px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 0px 3px rgba(255, 255, 255, 0.178), inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10px;

  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .cardImage {
      width: 290px;
      height: 150px;
    }

    .cardDescription {
      text-align: center;
    }
  }

  .cardCategories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 200px;

    .categoryBox {
      margin: 10px;
    }
  }
}